/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------
        Custom styles and general styles
-------------------------------------------*/
/* Font for nav */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font for h1 */
h1, h3{
	font-family: 'Sansita Swashed', cursive;
}
/* font for the navigation */
a{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* hover and focus states for the whole html page*/
  /* visited link */
  a:visited {
	color: #0B7A75;
  }
  
  /* mouse over link */
  a:hover {
	color: #D7C0D8;
  }
  
  /* selected link */
  a:active {
	color: #74B3CE;
  }
/* Setting the font for these elements */
p, h4, .name{
	font-family: 'Montserrat', sans-serif;
}
/* -----------------------------
	Mobile Styles - Home
-------------------------------*/
.header-home{
	background-color: #74B3CE;
	height: 1045px;
}
/* styling the image, h1 and button */
.tropical-image-home{
	position: relative;
	bottom: 750px;
}
.home-h1{
	position: absolute;
	top: 800px;
	left: 100px;
	z-index: 1;
} 
.O-button{
	position: absolute;
	top: 950px;
	left: 125px;
	z-index: 1;
}
.welcometext{
	position: absolute;
	top: 890px;
	left: 50px;
	text-align: center;
	z-index: 1;
	color: white;
}
.logo{
	width: 75%;
	height: auto;
	padding-left: 60px;
}
.logo-2{
	max-width: 100%;
	height: auto;
	visibility: hidden;
}
a{
	text-decoration: none;
	font-weight: bold;
	display: block;
	text-align: center;
	font-size: 3rem;
	padding-bottom: 30px;
	color: #0B7A75;
}
.navigation{
	position: relative;
	bottom: 750px;
}
h1{
	font-size: 5rem;
	text-align: center;
	position: relative;
	top: 200px;
	color: white
}
.welcome-text{
	position: relative;
	top: 250px;
	text-align: center;
	color: white;
	font-size: 20px;
}
.tropical-image{
	max-width: 100%;
	height: auto;
}
button{
	background-color: #74B3CE;
	border: none;
	padding: 20px;
	border-radius: 72px;
	color: #ADEBAD;
	font-size: 1.3rem;
	position: relative;
	top: 300px;
	left: 120px;
}
.ice-cream, .little-boy{
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 35px;
}
.intro-text{
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 10px;
}
/* banner for civilian picture and quote */
.banner{
	background-color: #74B3CE;
	height: 735px;
}
.civilian{
	max-width: 100%;
	height: auto;
	border-radius: 85%;
	border: 15px solid #D7C0D8;
	transform: scale(0.6);
	position: relative;
	bottom: 10px;
}
.quote{
	color: white;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 25px;
	font-weight: 500;
}
/* local section */
h2{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Sansita Swashed', cursive;
}
.neighbourhood{
	width: 75%;
	height: auto;
	padding-top: 15px;
	padding-left: 55px;
	padding-bottom: 10px;
}
.local-text{
	padding-bottom: 20px;
	padding-left: 55px;
	padding-right: 55px;
}
/* footer section */
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* -----------------------------
	Mobile Styles - About
-------------------------------*/
.header-about{
	background-color: #74B3CE;
	height: 1045px;
}
.tropical-image-about{
	position: relative;
	bottom: 750px;
}
.h1-about{
	position: absolute;
	top: 800px;
	left: 150px;
	z-index: 1;
}
img{
	max-width: 100%;
	height: auto;
}
h1{
	color: white;
}
.w-w-w{
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
}
.who-what-where{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
}
.meet{
	font-size: 3rem;
}
.our-team-banner{
	text-align: center;
	background-color: #74B3CE;
	padding: 50px;
}
/* adding a margin property to have the images be single */
.team{
	background-color: #D7C0D8;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}
/* Newsletter section */
h4{
	text-align: center;
	padding-bottom: 10px;
}
.newsletter{
	background-color: #74B3CE;
	margin-top: 10px;
	padding-bottom: 35px;
	padding-top: 25px;
}
.keep-up{
	text-align: center;
	font-size: 2rem;
}
.subscribe{
	background-color: #D7C0D8;
	color: #0B7A75;
	position: relative;
	top: 10px;
	left: 175px;
}
/* images and text for below the subscribe form */
.icecream-nuts{
	padding-top: 25px;
	padding-bottom: 10px;
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-left: 35px;
}
.footer-text{
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 10px;
}
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* -----------------------------
	Mobile Styles - Menu
-------------------------------*/
.header-menu{
	background-color: #74B3CE;
}
.header-menu{
	height: 1045px;
}
.tropical{
	position: relative;
	bottom: 750px;
}
.menu-h1{
	position: absolute;
	top: 780px;
	left: 150px;
	z-index: 1;
} 
.menu{
	background-color: #D7C0D8;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 10px;
}
/* grid for menu items */
.menu-items{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas: 
	"one two"
	"three four"
	"five six"
	"seven eight"
	"nine ten"
	"eleven twelve";
}
.menu:nth-child(1){
	grid-area: one;
}
.menu:nth-child(2){
	grid-area: two;
}
.menu:nth-child(3){
	grid-area: three;
}
.menu:nth-child(4){
	grid-area: four;
}
.menu:nth-child(5){
	grid-area: five;
}
.menu:nth-child(6){
	grid-area: six;
}
.menu:nth-child(7){
	grid-area: seven;
}
.menu:nth-child(8){
	grid-area: eight;
}
.menu:nth-child(9){
	grid-area: nine;
}
.menu:nth-child(10){
	grid-area: ten;
}
.menu:nth-child(11){
	grid-area: eleven;
}
.menu:nth-child(12){
	grid-area: twelve;
}
/* Making the images the same size */
.menu-image{
	width:  245px;
    height: 245px;
    object-fit: cover;
}
/* Centering h4 in the container */
h4{
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Section header for feedback form */
.section-divider{
	background-color: #74B3CE;
	padding: 35px;
}
.feedback{
	text-align: center;
}
h3.feedback{
	font-size: 2.5rem;
	padding-bottom: 10px;
}
/* Changing and ajdusting form content */
.form{
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}
.name{
	color: #74B3CE;
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;

}
/* First and last name form */
.fl-name{
	width: auto;
	height: 33px;
	border: 3px solid #7AB7B4;
}
textarea#text{
	width: 465px;
	height: 100px;
	resize: none;
	margin-top: 10px;
	border: 3px solid #7AB7B4;
}
.button{
	border: none;
	color: #D7C0D8;
	font-size: 2rem;
	width: 229px;
	height: 75px;
	border-radius: 18px;
	background-color: #7AB7B4;
	margin-bottom: 10px;
	margin-top: 10px;
}
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* ------------------------------------- 
			Tablet Styles
----------------------------------------*/
/*-----------------------
	Tablet styles - home
 ------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* adjusting the size of the logo to match the desktop mockup */
	.logo{
		margin-left: 185px;
		width: 40%;
		position: relative;
		bottom: 50px;
	}
	.header-home{
		height: 350px;
		margin-bottom: 750px;
	}
	/* centering the menu to match the mockup */
	a{
		display: inline;
		padding-left: 100px;
		position: relative;
		bottom: 497px;
	}
	.tropical-image-home{
		position: absolute;
		top: 450px;
	}
	/* sizing the h1, text and button so they match the provided mockup */
	.home-h1{
		font-size: 7rem;
		padding-left: 125px;
		position: absolute;
		top: 500px;
	}
	.welcometext{
		font-size: 2.2rem;
		padding-right: 35px;
		position: absolute;
		top: 650px;
	}
	.O-button{
		font-size: 2rem;
		margin-left: 125px;
	}
	/* adjusting the padding left and right to match the provided mockup and so it is inline with the images*/
	.ice-cream, .little-boy{
		padding-left: 65px;
	}
	.intro-text{
		padding-left: 55px;
		padding-right: 55px;
	}
	/* using a grid to match the provided mockup */
	.banner{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas: 
			"one two";
	}
	.civilian:nth-child(1){
		grid-area: one;
	}
	.civilian:nth-child(2){
		grid-area: two;
	}
	/* Using the civilian class and quote class to have them line up with each other */
	.civilian{
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.quote{
		padding-top: 100px;
		padding-right: 40px;
	}
	.banner{
		height: 400px;
	}
	/* adjusting the picture and text so it is in the lined up in the center */
	.neighbourhood, .local-text{
		padding-left: 100px;
	}
	.footer{
		justify-content: space-evenly;
		padding-right: 550px;
	}
/*----------------------------
	Tablet styles - about us
 ----------------------------*/
 /* Header section and making it match the mockup*/
 .header-about{
	 height: 350px;
	 margin-bottom: 750px;
 }
 .tropical-image-about{
	position: absolute;
	top: 450px;
}
.h1-about{
	font-size: 6rem;
	position: absolute;
	top: 650px;
	right: 120px;
	left: 100px;
}
 /* Making a grid for our team */
 .our-team{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
		"one two"
		"three four"
		"five six"
		"seven eight";
 }
 .team:nth-child(1){
	 grid-area: one;
 }
 .team:nth-child(2){
	grid-area: two;
}
.team:nth-child(3){
	grid-area: three;
}
.team:nth-child(4){
	grid-area: four;
}
.team:nth-child(5){
	grid-area: five;
}
.team:nth-child(6){
	grid-area: six;
}
.team:nth-child(7){
	grid-area: seven;
}
.team:nth-child(8){
	grid-area: eight;
}
/* adjusting the heights of the image so they line up with the other images */
.owner{
	width: auto;
	height: 310px;
	object-fit: cover;
}
.employee{
	width: auto;
	height: 282px;
	object-fit: cover;
}
/* adjusting the size of the content inside the banner to match the mockup*/
.keep-up{
	font-size: 3rem;
	text-align: center;
}
.subscribe{
	margin-top: 25px;
	margin-left: 125px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 55px;
	padding-right: 55px;
	font-size: 30px;
}
.icecream-nuts{
	width: 650px;
	height: 650px;
	object-fit: cover;
	padding-left: 100px;
}
.footer-text{
	padding-left: 100px ;
	padding-right: 90px;
}
.newsletter-sample{
	padding-bottom: 15px;
}
/*----------------------------
	Tablet styles - Menu
 ----------------------------*/
 /* header styles  */
 .header-menu{
	height: 350px;
	margin-bottom: 750px;
}
.tropical{
   position: absolute;
   top: 450px;
}
.menu-h1{
   font-size: 6rem;
   position: absolute;
   top: 650px;
   right: 120px;
   left: 100px;
}
/* menu images and scalling them to match their container */
.menu-image{
	width:  400px;
    height: 400px;
    object-fit: cover;
}
.menu{
	margin-right: 10px;
	margin-left: 18px;
	padding-bottom: 15px;
}
.centering{
	padding-top: 25px;
}
/* bottom form to match the mockup */
.name{
	padding-top: 15px;
	padding-bottom: 10px;
}
textarea#text{
	width: 99%;
	margin-top: 25px;
}
.button{
	margin-top: 20px;
	padding-right: 50px;
	padding-left: 40px;
}
h3.feedback{
	font-size: 3.5rem;
	padding-bottom: 20px;
}
}
/* --------------------------------------------
				Desktop styles
/* ----------------------------------------------*/ 
/* ------------------------
	Desktop styles - home
---------------------------*/
@media screen and (min-width: 1024px){
	/* making logo 1 hidden and logo 2 visible */
	.logo{
		width: 75%;
		height: auto;
		padding-left: 60px;
		visibility: hidden;
	}
	.logo-2{
		max-width: 10%;
		height: auto;
		visibility: visible;
		position: relative;
		bottom: 1375px;
		padding-left: 25px;
		display: flex;
	}
	/* using flex to space evenly the navigation */
	.navigation{
		display: flex;
		justify-content: space-evenly;
	}
	
}


	
