/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------
        Custom styles and general styles
-------------------------------------------*/
/* Font for nav */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font for h1 */
h1, h3{
	font-family: 'Sansita Swashed', cursive;
}
/* font for the navigation */
a{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* hover and focus states for the whole html page*/
  /* visited link */
  a:visited {
	color: #0B7A75;
  }
  
  /* mouse over link */
  a:hover {
	color: #D7C0D8;
  }
  
  /* selected link */
  a:active {
	color: #0B7A75;
  }
/* Setting the font for these elements */
p, h4, .name{
	font-family: 'Montserrat', sans-serif;
}
/* -----------------------------
	Mobile Styles - Home
-------------------------------*/
.header-home{
	background-color: #74B3CE;
	height: 800px;
}
.Oasis-scoops-header{
	visibility: hidden;
}
/* styling the image, h1 and button */
.tropical-image-home{
	position: relative;
	bottom: 350px;
}
/* positing the h1 so it is ontop of the image */
.home-h1{
	position: absolute;
	top: 800px;
	left: 100px;
	z-index: 1;
} 
/* Scoop into your oasis button */
.O-button{
	position: absolute;
	top: 950px;
	left: 125px;
	z-index: 1;
	animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.O-button:hover{
	animation-name: bounce;
	animation-timing-function: ease;
}
@keyframes bounce{
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}
/* making the "welcome" text be onto of the background image */
.welcometext{
	position: absolute;
	top: 890px;
	left: 50px;
	text-align: center;
	z-index: 1;
	color: white;
}
/* adusting the width and height of the logo so it can stay in the header and hiding logo 2 */
.logo{
	width: 75%;
	height: auto;
	padding-left: 60px;
}
.logo-2{
	max-width: 100%;
	height: auto;
	visibility: hidden;
}
/* navigation setion and making it vertical*/
a{
	text-decoration: none;
	font-weight: bold;
	display: block;
	text-align: center;
	font-size: 3rem;
	padding-bottom: 30px;
	color: #0B7A75;
}
.navigation{
	position: relative;
	bottom: 400px;
	z-index: 1;
}
/* welcome intro */
h1{
	font-size: 5rem;
	text-align: center;
	position: relative;
	top: 200px;
	color: white
}
.welcome-text{
	position: relative;
	top: 250px;
	text-align: center;
	color: white;
	font-size: 20px;
}
.tropical-image{
	max-width: 100%;
	height: auto;
}
/* having a call to action button on the home page to lead users through the website */
button{
	background-color: #74B3CE;
	border: none;
	padding: 20px;
	border-radius: 72px;
	color: #ADEBAD;
	font-size: 1.3rem;
	position: relative;
	top: 300px;
	left: 120px;
}
/* Setting the width and height for the ice cream and little boy image */
.ice-cream, .little-boy{
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 35px;
}
.intro-text{
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 10px;
}
/* banner for civilian picture and quote to make a seperator*/
.banner{
	background-color: #74B3CE;
	height: 735px;
}
/* making the image a width of 100 and adding a border around the image to go with the theme of Oasis Scoops */
.civilian{
	max-width: 100%;
	height: auto;
	border-radius: 85%;
	border: 15px solid #D7C0D8;
	transform: scale(0.6);
	position: relative;
	bottom: 10px;
}
/* centering the quote so it can line up with the image to the left */
.quote{
	color: white;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 25px;
	font-weight: 500;
	position: relative;
	bottom: 50px;
	text-align: center;
}
/* local section and aligning it so it lines up to the center*/
h2{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Sansita Swashed', cursive;
}
/* setting the width of the image so it is not to large on the page */
.neighbourhood{
	width: 75%;
	height: auto;
	padding-top: 15px;
	padding-left: 55px;
	padding-bottom: 10px;
}
/* adjusting the padding of the text so it can line up with the image */
.local-text{
	padding-bottom: 20px;
	padding-left: 55px;
	padding-right: 55px;
}
/* footer section */
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* -----------------------------
	Mobile Styles - About
-------------------------------*/
.header-about{
	background-color: #74B3CE;
	height: 800px;
}
.tropical-image-about{
	position: relative;
	bottom: 350px;
}
.h1-about{
	position: absolute;
	top: 800px;
	left: 150px;
	z-index: 1;
}
/* Seeting the max-width for the image */
img{
	max-width: 100%;
	height: auto;
}
h1{
	color: white;
}
/* Centering the text for who what where */
.w-w-w{
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
}
.who-what-where{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
}
/* meet our team banner to seperate the WWWW and to introduce the team section */
.meet{
	font-size: 3rem;
}
.our-team-banner{
	text-align: center;
	background-color: #74B3CE;
	padding: 50px;
}
/* adding a margin property to have the images for the images to be single */
.team{
	background-color: #D7C0D8;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}
/* Newsletter section */
h4{
	text-align: center;
	padding-bottom: 10px;
}
/* adding a background colour and centering the text in between the space to match the mockup */
.newsletter{
	background-color: #74B3CE;
	margin-top: 10px;
	padding-bottom: 35px;
	padding-top: 25px;
}
.keep-up{
	text-align: center;
	font-size: 2rem;
}
.subscribe{
	background-color: #D7C0D8;
	color: #0B7A75;
	position: relative;
	top: 10px;
	left: 175px;
	transition: background-color .8s ease-out 100ms;
}
.subscribe:hover{
	background-color: #ADEBAD;
}
/* images and text for below the subscribe form */
.icecream-nuts{
	padding-top: 25px;
	padding-bottom: 10px;
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-left: 35px;
}
.footer-text{
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 10px;
}
/* adjsuting the content that is inside the footer */
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* -----------------------------
	Mobile Styles - Menu
-------------------------------*/
.header-menu{
	background-color: #74B3CE;
	height: 800px;
}
.tropical{
	position: relative;
	bottom: 350px;
}
.menu-h1{
	position: absolute;
	top: 780px;
	left: 150px;
	z-index: 1;
} 
.menu{
	background-color: #D7C0D8;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 10px;
}
/* grid for menu items so they are not in a row since their are twelve menu items*/
.menu-items{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas: 
	"one two"
	"three four"
	"five six"
	"seven eight"
	"nine ten"
	"eleven twelve";
}
.menu:nth-child(1){
	grid-area: one;
}
.menu:nth-child(2){
	grid-area: two;
}
.menu:nth-child(3){
	grid-area: three;
}
.menu:nth-child(4){
	grid-area: four;
}
.menu:nth-child(5){
	grid-area: five;
}
.menu:nth-child(6){
	grid-area: six;
}
.menu:nth-child(7){
	grid-area: seven;
}
.menu:nth-child(8){
	grid-area: eight;
}
.menu:nth-child(9){
	grid-area: nine;
}
.menu:nth-child(10){
	grid-area: ten;
}
.menu:nth-child(11){
	grid-area: eleven;
}
.menu:nth-child(12){
	grid-area: twelve;
}
/* Making the images the same size in the grid*/
.menu-image{
	width:  245px;
    height: 245px;
    object-fit: cover;
}
/* Centering h4 in the container */
h4{
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Section header for feedback form */
.section-divider{
	background-color: #74B3CE;
	padding: 35px;
}
/* aliging the text to the center and making the font size bigger so it looks visually appealing */
.feedback{
	text-align: center;
}
h3.feedback{
	font-size: 2.5rem;
	padding-bottom: 10px;
}
/* Changing and ajdusting form content */
.form{
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}
/* name title for the contact form and adjusting the size */
.name{
	color: #74B3CE;
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
}
/* First and last name form */
.fl-name{
	width: auto;
	height: 33px;
	border: 3px solid #7AB7B4;
}
textarea#text{
	width: 465px;
	height: 100px;
	resize: none;
	margin-top: 10px;
	border: 3px solid #7AB7B4;
}
/* making the button match the contact form to match the overall theme of Oasis scoops */
.button{
	border: none;
	color: #D7C0D8;
	font-size: 2rem;
	width: 229px;
	height: 75px;
	border-radius: 18px;
	background-color: #7AB7B4;
	margin-bottom: 10px;
	margin-top: 10px;
}
/* adjusting the space between the social media icons */
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* ------------------------------------- 
			Tablet Styles
----------------------------------------*/
/*-----------------------
	Tablet styles - home
 ------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* general styles  for the tablet */
	img.logo{
		padding-left: 100px;
	}
	/* adjusting the size of the logo to match the desktop mockup */
	.logo{
		margin-left: 185px;
		width: 40%;
		position: relative;
		bottom: 50px;
	}
	.header-home{
		height: 350px;
		margin-bottom: 750px;
	}
	/* centering the menu to match the mockup */
	a{
		display: inline;
		padding-left: 125px;
		position: relative;
		bottom: 325px;
	}	
	.tropical-image-home{
		position: absolute;
		top: 450px;
		opacity: 0.6;
	}
	/* sizing the h1, text and button so they match the provided mockup */
	.home-h1{
		font-size: 7rem;
		padding-left: 125px;
		position: absolute;
		top: 500px;
	}
	.welcometext{
		font-size: 2.2rem;
		padding-right: 35px;
		position: absolute;
		top: 650px;
	}
	.O-button{
		font-size: 2rem;
		margin-left: 125px;
	}
	/* adjusting the padding left and right to match the provided mockup and so it is inline with the images*/
	.ice-cream, .little-boy{
		padding-left: 65px;
	}
	.intro-text{
		padding-left: 55px;
		padding-right: 55px;
	}
	/* using a grid to match the provided mockup */
	.banner{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas: 
			"one two";
	}
	.civilian:nth-child(1){
		grid-area: one;
	}
	.civilian:nth-child(2){
		grid-area: two;
	}
	/* Using the civilian class and quote class to have them line up with each other */
	.civilian{
		margin-top: 2px;
		margin-bottom: 2px;
		position: relative;
		bottom: 70px;
	}
	.quote{
		padding-top: 100px;
		padding-right: 40px;
		position: relative;
		top: 10px;
	}
	.banner{
		height: 400px;
	}
	/* adjusting the picture and text so it is in the lined up in the center */
	.neighbourhood, .local-text{
		padding-left: 100px;
	}
	.footer{
		justify-content: space-evenly;
		padding-right: 550px;
	}
/*----------------------------
	Tablet styles - about us
 ----------------------------*/
 /* Header section and making it match the mockup*/
 .header-about{
	 height: 350px;
	 margin-bottom: 750px;
 }
 .tropical-image-about{
	position: absolute;
	top: 450px;
	opacity: 0.6;
}
.h1-about{
	font-size: 6rem;
	position: absolute;
	top: 650px;
	right: 120px;
	left: 100px;
}
 /* Making a grid for our team */
 .our-team{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
		"one two"
		"three four"
		"five six"
		"seven eight";
 }
 .team:nth-child(1){
	 grid-area: one;
 }
 .team:nth-child(2){
	grid-area: two;
}
.team:nth-child(3){
	grid-area: three;
}
.team:nth-child(4){
	grid-area: four;
}
.team:nth-child(5){
	grid-area: five;
}
.team:nth-child(6){
	grid-area: six;
}
.team:nth-child(7){
	grid-area: seven;
}
.team:nth-child(8){
	grid-area: eight;
}
/* adjusting the heights of the image so they line up with the other images */
.owner{
	width: auto;
	height: 332px;
	object-fit: cover;
}
.employee{
	width: auto;
	height: auto;
	object-fit: cover;
}
/* adjusting the size of the content inside the banner to match the mockup*/
.keep-up{
	font-size: 3rem;
	text-align: center;
}
.subscribe{
	margin-top: 25px;
	margin-left: 125px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 55px;
	padding-right: 55px;
	font-size: 30px;
}
.icecream-nuts{
	width: 650px;
	height: 650px;
	object-fit: cover;
	padding-left: 100px;
}
.footer-text{
	padding-left: 100px ;
	padding-right: 90px;
}
.newsletter-sample{
	padding-bottom: 15px;
}
/*----------------------------
	Tablet styles - Menu
 ----------------------------*/
 /* header styles  */
 .header-menu{
	height: 350px;
	margin-bottom: 750px;
}
.tropical{
   position: absolute;
   top: 450px;
   opacity: 0.6;
}
.menu-h1{
   font-size: 6rem;
   position: absolute;
   top: 650px;
   right: 120px;
   left: 100px;
}
/* menu images and scalling them to match their container */
.menu-image{
	width: 100%;
	height: 400px;
    object-fit: cover;
}
.menu{
	margin-right: 10px;
	margin-left: 18px;
	padding-bottom: 15px;
}
.centering{
	padding-top: 25px;
}
/* bottom form to match the mockup */
.name{
	padding-top: 15px;
	padding-bottom: 10px;
}
textarea#text{
	width: 99%;
	margin-top: 25px;
}
.button{
	margin-top: 20px;
	padding-right: 50px;
	padding-left: 40px;
}
h3.feedback{
	font-size: 3.5rem;
	padding-bottom: 20px;
}
.feedback-form{
	margin-bottom: 30px;
	margin-top: 10px;
}
}
/* --------------------------------------------
				Desktop styles
/* ----------------------------------------------*/ 
/* ------------------------
	Desktop styles - home
---------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1800px){
	/* making logo 1 hidden and logo 2 visible */
	.logo{
		width: 75%;
		height: auto;
		padding-left: 60px;
		visibility: hidden;
	}
	.logo-2{
		max-width: 10%;
		height: auto;
		visibility: visible;
		position: sticky;
		bottom: 1000px;
		padding-left: 25px;
		display: flex;
	}
	.header-home{
		height: 250px;
		margin-bottom: 900px;
	}
	.Oasis-scoops-header{
		visibility: visible;
		color: black;
		z-index: 1;
		position: absolute;
		bottom: 775px;
		left: 675px;
	}
	/* using flex to space evenly the navigation */
	.navigation{
		display: flex;
		justify-content: space-evenly;
		position: relative;
		bottom: 875px;
	}
	/* moving the tropical image up so it sits below the navigation */
	.tropical-image-home{
		width:  2796px;
   		height: 600px;
    	object-fit: cover;
		position: relative;
		bottom: 875px;
	}
	/* Setting the text so it is ontop of the image  */
	.home-h1{
		font-size: 6rem;
		padding-left: 25px;
	}
	.intro-text-button{
		position: relative;
		bottom: 1500px;
		left: 150px;
	}
	p.welcometext{
		padding-top: 10px;
		padding-left: 75px;
	}
	/* Seeting the width and height for the images to match the mockup */
	.ice-cream, .little-boy{
		width:  710px;
   		height: 287px;
    	object-fit: cover;
	}
	/* Making a grid for the home of the little boy and ice cream so it matches the provided mockup*/
	.intro{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 
			"three two"
			"four one";
	}
	.sccop-boy:nth-child(1){
		grid-area: one;
	}
	.sccop-boy:nth-child(2){
		grid-area: two;
	}
	.sccop-boy:nth-child(3){
		grid-area: three;
	}
	.sccop-boy:nth-child(4){
		grid-area: four;
	}
	/* putting the grid in the middle of the page and increasing the line height to fill up the space */
	.intro{
		max-width: 80%;
		padding-left: 120px;
		padding-bottom: 60px;
	}
	.intro-text{
		line-height: 30px;
	}
	/* making a grid for the banner below the intro section */
	.banner{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas: 
			"one two";
	}
	.civilian:nth-child(1){
		grid-area: one;
	}
	.civilian:nth-child(2){
		grid-area: two;
	}
	/* making adjustments to the content so that it matches the provided mockup */
	.banner{
		height: 400px;
	}
	.quote{
		padding-top: 200px;
		margin-right: 700px;
		width: 85%;
	}
	img.civilian{
		width: 60%;
		margin-left: 150px;
		position: relative;
		bottom: 100px;	
	}
	/* makng a grid for the local section */
	.local{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas: 
			"one two";
	}
	.neighbour-text-image:nth-child(1){
		grid-area: one;
	}
	.neighbour-text-image:nth-child(2){
		grid-area: two;
	}
	/* adjusting the contents inside the grid to match the mockup */
	.h2-local{
		display: flex;
		padding-left: 65px;
		padding-top: 45px;
	}
	.neighbourhood{
		width:  826px;
   		height: 460px;
    	object-fit: cover;
		padding-top: 30px;
		position: relative;
		right: 80px;
		top: 120px;
	}
	.local-text{
		font-size: 1.5rem;
		position: relative;
		bottom: 350px;
		line-height: 1.6;
	}
	.footer{
		display: flex;
		justify-content: space-evenly;;
		padding-right: 1450px;
	}
	/* ------------------------
		Desktop styles - about
	---------------------------*/
	.header-about{
		height: 250px;
		margin-bottom: 900px;
	}
	.tropical-image-about{
		width:  2796px;
   		height: 600px;
    	object-fit: cover;
		position: relative;
		bottom: 875px;
	}
	.h1-about{
		position: absolute;
		top: 600px;
		right: 200px;
		color: white;
	}
	/* making a grid to display as three columns and one row so it is easier to read on the desktop version */
	.who-what-where{
		display: grid;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas: 
			"one two three";
	}
	.three-w:nth-child(1){
		grid-area: one;
	}
	.three-w:nth-child(2){
		grid-area: two;
	}
	.three-w:nth-child(3){
		grid-area: three;
	}
	.three-w{
		padding-right: 50px;
	}
	/* Making a grid for our team and to match the mockup */
	.our-team{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 
		"one two three four"
		"five six seven eight"
	}
	.team:nth-child(1){
		grid-area: one;
	}
	.team:nth-child(2){
		grid-area: two;
	}
	.team:nth-child(3){
		grid-area: three;
	}
	.team:nth-child(4){
		grid-area: four;
	}
	.team:nth-child(5){
		grid-area: five;
	}
	.team:nth-child(6){
		grid-area: six;
	}
	.team:nth-child(7){
		grid-area: seven;
	}
	.team:nth-child(8){
		grid-area: eight;
	}
	/* adjusting the margins so its not right up against the sides */
	.our-team{
		margin-left: 10px;
		margin-right: 10px;
	}
	.team{
		margin-top: 20px;
		margin-bottom: 15px;
	}
	/* making the picture of one of the ceo line up with the other pictures */
	.ceo{
		width: 100%;
   		height: 290px;
    	object-fit: cover;
	}
	/* banner section between meeting our team and the bottom section */
	.newsletter{
		display: flex;
		padding-left: 170px;
		margin-bottom: 50px;
		margin-top: 50px;
	}
	/* changing the size of the font in the banner */
	.keep-up{
		font-size: 2.75rem;
		padding-left: 75px;
		padding-top: 20px;
	}
	button.subscribe{
		font-size: 2rem;
		padding-right: 50px;
		padding-left: 50px;
		margin-bottom: 10px;
	}	
	.icecream-nuts{
		width: 700px;
   		height: 298px;
    	object-fit: cover;
	}
	/* creating a grid to re-create the mockup */
	.newsletter-sample{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 
		"one two"
		"four three"
	}
	.two-by-two:nth-child(1){
		grid-area: one;
	}
	.two-by-two:nth-child(2){
		grid-area: two;
	}
	.two-by-two:nth-child(3){
		grid-area: three;
	}
	.two-by-two:nth-child(4){
		grid-area: four;
	}
	.footer-text{
		padding-top: 20px;
		font-size: 1.75rem;
	}
	.newsletter-sample{
		margin-top: 25px;
		margin-bottom: 25px;
		margin-right: 100px;
		max-width: 80%;
		padding-left: 120px;
		padding-bottom: 60px;
	}
	/* ------------------------
		Desktop styles - menu
	---------------------------*/
	.header-menu{
		height: 250px;
		margin-bottom: 900px;
	}
	.tropical{
		width:  2796px;
   		height: 600px;
    	object-fit: cover;
		position: relative;
		bottom: 875px;
	}
	.menu-h1{
		position: absolute;
		top: 600px;
		right: 250px;
		color: white;
	}
	/* Creating a menu for all twelve menu items  */
	.menu-items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: 
		"one two three four"
		"five six seven eight"
		"nine ten eleven twelve"	
	}
	.menu:nth-child(1){
		grid-area: one;
	}
	.menu:nth-child(1){
		grid-area: one;
	}
	.menu:nth-child(2){
		grid-area: two;
	}
	.menu:nth-child(3){
		grid-area: three;
	}
	.menu:nth-child(4){
		grid-area: four;
	}
	.menu:nth-child(5){
		grid-area: five;
	}
	.menu:nth-child(6){
		grid-area: six;
	}
	.menu:nth-child(7){
		grid-area: seven;
	}
	.menu:nth-child(8){
		grid-area: eight;
	}
	.menu:nth-child(9){
		grid-area: nine;
	}
	.menu:nth-child(10){
		grid-area: ten;
	}
	.menu:nth-child(11){
		grid-area: eleven;
	}
	.menu:nth-child(12){
		grid-area: twelve;
	}
	.menu-items{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 15px;
	}
	.menu-image{
		width:  479px;
   		height: 469px;
    	object-fit: cover;
	}
	.feedback-form{
		max-width: 65%;
		padding-left: 350px;
		padding-right: 250px;
		margin-bottom: 25px;
		margin-top: 10px
	}
	.feedback-textarea{
		width: 1300px;
	}

}


	
