/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------
        Custom styles
-------------------------------------------*/
/* Font for nav */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font for h1 */
h1, h3{
	font-family: 'Sansita Swashed', cursive;
}
/* font for the navigation */
a{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Setting the font for these elements */
p, h4, .name{
	font-family: 'Montserrat', sans-serif;
}
/* -----------------------------
	Mobile Styles - Home
-------------------------------*/
.header{
	background-color: #74B3CE;
}
.logo{
	width: 75%;
	height: auto;
	padding-left: 60px;
}
.logo-2{
	max-width: 100%;
	height: auto;
	visibility: hidden;
}
a{
	text-decoration: none;
	font-weight: bold;
	display: block;
	text-align: center;
	font-size: 3rem;
	padding-bottom: 30px;
	color: #0B7A75;
}
.navigation{
	position: relative;
	bottom: 750px;
}
h1{
	font-size: 5rem;
	text-align: center;
	position: relative;
	top: 200px;
	color: white
}
.welcome-text{
	position: relative;
	top: 250px;
	text-align: center;
	color: white;
	font-size: 20px;
}
.tropical-image{
	max-width: 100%;
	height: auto;
}
button{
	background-color: #74B3CE;
	border: none;
	padding: 20px;
	border-radius: 72px;
	color: #ADEBAD;
	font-size: 1.3rem;
	position: relative;
	top: 300px;
	left: 120px;
}
.ice-cream, .little-boy{
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 35px;
}
.intro-text{
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 10px;
}
.banner{
	background-color: #74B3CE;
}
.civilian{
	max-width: 100%;
	height: auto;
	border-radius: 85%;
	border: 15px solid #D7C0D8;
	transform: scale(0.6);
	position: relative;
	bottom: 75px;
}
.quote{
	color: white;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 25px;
	font-weight: 500;
}
/* local section */
h2{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Sansita Swashed', cursive;
}
.neighbourhood{
	width: 75%;
	height: auto;
	padding-top: 15px;
	padding-left: 55px;
	padding-bottom: 10px;
}
.local-text{
	padding-bottom: 20px;
	padding-left: 55px;
	padding-right: 55px;
}
/* footer section */
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* -----------------------------
	Mobile Styles - About
-------------------------------*/
img{
	max-width: 100%;
	height: auto;
}
h1{
	color: white;
}
.w-w-w{
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
}
.who-what-where{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
}
.meet{
	font-size: 3rem;
}
.our-team-banner{
	text-align: center;
	background-color: #74B3CE;
	padding: 50px;
}
/* adding a margin property to have the images be single */
.team{
	background-color: #D7C0D8;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}
h4{
	text-align: center;
	padding-bottom: 10px;
}
.newsletter{
	background-color: #74B3CE;
	margin-top: 10px;
	padding-bottom: 35px;
	padding-top: 25px;
}
.keep-up{
	text-align: center;
	font-size: 2rem;
}
.subscribe{
	background-color: #D7C0D8;
	color: #0B7A75;
	position: relative;
	top: 10px;
	left: 175px;
}
/* images and text for below the subscribe form */
.icecream-nuts{
	padding-top: 25px;
	padding-bottom: 10px;
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-left: 35px;
}
.footer-text{
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 10px;
}
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* -----------------------------
	Mobile Styles - Menu
-------------------------------*/
/* .header{
	height: 1045px;
}
.tropical{
	position: relative;
	bottom: 750px;
}
.menu-h1{
	position: absolute;
	top: 780px;
	left: 150px;
	z-index: 1;
} */
.menu{
	background-color: #D7C0D8;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 10px;
}
/* grid for menu items */
.menu-items{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas: 
	"one two"
	"three four"
	"five six"
	"seven eight"
	"nine ten"
	"eleven twelve";
}
.menu:nth-child(1){
	grid-area: one;
}
.menu:nth-child(2){
	grid-area: two;
}
.menu:nth-child(3){
	grid-area: three;
}
.menu:nth-child(4){
	grid-area: four;
}
.menu:nth-child(5){
	grid-area: five;
}
.menu:nth-child(6){
	grid-area: six;
}
.menu:nth-child(7){
	grid-area: seven;
}
.menu:nth-child(8){
	grid-area: eight;
}
.menu:nth-child(9){
	grid-area: nine;
}
.menu:nth-child(10){
	grid-area: ten;
}
.menu:nth-child(11){
	grid-area: eleven;
}
.menu:nth-child(12){
	grid-area: twelve;
}
/* Making the images the same size */
.menu-image{
	width:  245px;
    height: 245px;
    object-fit: cover;
}
/* Centering h4 in the container */
h4{
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Section header for feedback form */
.section-divider{
	background-color: #74B3CE;
	padding: 35px;
}
.feedback{
	text-align: center;
}
h3.feedback{
	font-size: 2.5rem;
	padding-bottom: 10px;
}
/* Changing and ajdusting form content */
.form{
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}
.name{
	color: #74B3CE;
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;

}
/* First and last name form */
.fl-name{
	width: auto;
	height: 33px;
	border: 3px solid #7AB7B4;
}
textarea#text{
	width: 465px;
	height: 100px;
	resize: none;
	margin-top: 10px;
	border: 3px solid #7AB7B4;
}
.button{
	border: none;
	color: #D7C0D8;
	font-size: 2rem;
	width: 229px;
	height: 75px;
	border-radius: 18px;
	background-color: #7AB7B4;
	margin-bottom: 10px;
	margin-top: 10px;
}
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}



	
