/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------
        Custom styles and general styles
-------------------------------------------*/
/* Font for nav */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font for h1 */
h1, h3{
	font-family: 'Sansita Swashed', cursive;
}
/* font for the navigation */
a{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* hover and focus states for the whole html page*/
  /* visited link */
  a:visited {
	color: #0B7A75;
  }
  
  /* mouse over link */
  a:hover {
	color: #D7C0D8;
  }
  
  /* selected link */
  a:active {
	color: #0B7A75;
  }
/* Setting the font for these elements */
p, h4, .name{
	font-family: 'Montserrat', sans-serif;
}
/* -----------------------------
	Mobile Styles - Home
-------------------------------*/
.header{
	background-color: #74B3CE;
	height: 800px;
}
.Oasis-scoops-header{
	visibility: hidden;
}
/* styling the tropical image to make responsive */
img.tropical-image{
	width: 100%;
    height: 375px;
    object-fit: cover;
}
.tropical-image{
	position: relative;
	bottom: 350px;
}
/* positing the h1 so it is ontop of the image */
.home-h1{
	position: absolute;
	top: 800px;
	left: 100px;
	z-index: 1;
} 
/* Scoop into your oasis button as a call to action button and to help leader users through the site*/
/* Setting the general styles for the button and then positioning and animating it to match the mockup */
.O-button{
	background-color: #74B3CE;
	font-size: 20px;
	border-radius: 72px;
	padding-top: 30px;
	padding-right: 35px;
	padding-left: 35px;
	font-weight: 500;
	position: absolute;
	top: 950px;
	left: 110px;
	z-index: 1;
	animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
/* adding an animation to make the button bounce and to make it more interactive for the user */
.O-button:hover{
	animation-name: bounce;
	animation-timing-function: ease-in-out;
}
@keyframes bounce{
  0%   { transform: translateY(0);}
  50%  { transform: translateY(-40px);}
  100% { transform: translateY(0); }
}
/* making the "welcome" text be ontop of the background image and to make it look visually appealing*/
.welcometext{
	position: absolute;
	top: 890px;
	left: 50px;
	text-align: center;
	z-index: 1;
	color: white;
}
/* fixing the height of the content so their is no white space */
div.Welcome{	
	height: 30px;
}
/* adusting the width and height of the logo so it can stay in the header and hiding logo 2 so its not visible on mobile and tablet */
.logo{
	max-width: 100%;
	height: 400px;
	/* position: absolute;
	bottom: 475px; */
	margin-right: 10px;
}
.logo-2{
	max-width: 100%;
	height: auto;
	visibility: hidden;
}
/* navigation setion and making it vertical so it fits the mobile navigation styles*/
a{
	text-decoration: none;
	font-weight: bold;
	display: block;
	text-align: center;
	font-size: 3rem;
	padding-bottom: 30px;
	color: #0B7A75;
}
/* having the navigation ontop of the background colour */
.navigation{
	position: relative;
	bottom: 400px;
	z-index: 1;
}
/* welcome intro and sizing the h1 to match the mockup*/
h1{
	font-size: 5rem;
	text-align: center;
	position: relative;
	top: 200px;
	color: white
}
/* positioning the intro text to be in the center of the background image */
.welcome-text{
	position: relative;
	top: 250px;
	text-align: center;
	color: white;
	font-size: 20px;
}
/* setting the max width of the image to make it resposnive throughout the different states */
.tropical-image{
	max-width: 100%;
	height: auto;
}
/* having a call to action button on the home page to lead users through the website */
button{
	background-color: #74B3CE;
	border: none;
	padding: 20px;
	border-radius: 72px;
	color: #ADEBAD;
	font-size: 1.3rem;
	position: relative;
	top: 300px;
	left: 120px;
}
/* Setting the width and height for the ice cream and little boy image */
.ice-cream, .little-boy{
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 35px;
}
/* centering the text below the ice cream and little boy text to be inline with the images */
.intro-text{
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 10px;
}
/* banner for civilian picture and quote to make a seperator between the intro and local section*/
.banner{
	background-color: #74B3CE;
	height: 735px;
}
/* making the image a width of 100% and adding a border around the image to go with the theme of Oasis Scoops */
.civilian{
	max-width: 100%;
	height: auto;
	border-radius: 100%;
	border: 15px solid #D7C0D8;
	transform: scale(0.6);
	position: relative;
	bottom: 30px; 
	max-height: 650px;
}
/* centering the quote so it can line up with the image that is above */
.quote{
	color: white;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 25px;
	font-weight: 500;
	position: relative;
	bottom: 100px;
	text-align: center;
	max-height: 735px;
}
/* local section and aligning it so it lines up to the center of the page*/
h2{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Sansita Swashed', cursive;
}
/* setting the width of the image so it is not to large on the page and is an appropriate size*/
.neighbourhood{
	width: 75%;
	height: auto;
	padding-top: 15px;
	padding-left: 55px;
	padding-bottom: 10px;
}
/* adjusting the padding of the text so it can line up with the image */
.local-text{
	padding-bottom: 20px;
	padding-left: 55px;
	padding-right: 55px;
}
/* footer section and using flex to evenly space the social medias*/
.footer{
	background-color: #7AB7B4;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
}
/* -----------------------------
	Mobile Styles - About
-------------------------------*/
/* centering the text with the background image */
.menu-about-h1{
	position: absolute;
	top: 800px;
	left: 150px;
	z-index: 1;
}
/* removing the white space between the image and W-W-W */
div.about{
	height: 50px;
}
/* Seeting the max-width for the image to be responsive*/
img{
	max-width: 100%;
	height: auto;
}
h1{
	color: white;
}
/* Centering the text for who what where to be visually appealing*/
.w-w-w{
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
}
.who-what-where{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
}
/* meet our team banner to seperate the W-W-WW and to introduce the team section */
.meet{
	font-size: 3rem;
}
.our-team-banner{
	text-align: center;
	background-color: #74B3CE;
	padding: 50px;
}
/* adding a margin property for the images to be seperate from each other*/
.team{
	background-color: #D7C0D8;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	width: fit-content;
}
/* Newsletter section to seperate the team and the newsletter*/
h4{
	text-align: center;
	padding-bottom: 10px;
}
/* adding a background colour and centering the text in between the space to match the mockup */
.newsletter{
	background-color: #74B3CE;
	margin-top: 10px;
	padding-bottom: 35px;
	padding-top: 25px;
}
/* Centering the text with the banner */
.keep-up{
	text-align: center;
	font-size: 2rem;
}
/* Centering the subscribe button with the banner and adding a transition of colour to making it more interactive for the user */
.subscribe{
	background-color: #D7C0D8;
	color: #0B7A75;
	position: relative;
	top: 10px;
	left: 175px;
	transition: background-color .8s ease-out 100ms;
}
/* hover and active states for the transition */
.subscribe:hover{
	background-color: #ADEBAD;
}
.subscribe:active{
	background-color: #ADEBAD;
}
/* images and text for below the subscribe form, centering them on the page and making the responsive as well*/
.icecream-nuts{
	padding-top: 25px;
	padding-bottom: 10px;
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-left: 35px;
}
/* filler text below the images and lining the text up with the images*/
.image-text{
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 10px;
}
/* -----------------------------
	Mobile Styles - Menu
-------------------------------*/
/* adding a background color to each menu item to make it look visually apealing to the user */
.menu{
	background-color: #D7C0D8;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 10px;
	width: fit-content;
	height: fit-content;
}
/* grid for menu items so they are not in a single vertical row since their are twelve menu items*/
.menu-items{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas: 
	"one two"
	"three four"
	"five six"
	"seven eight"
	"nine ten"
	"eleven twelve";
}
.menu:nth-child(1){
	grid-area: one;
}
.menu:nth-child(2){
	grid-area: two;
}
.menu:nth-child(3){
	grid-area: three;
}
.menu:nth-child(4){
	grid-area: four;
}
.menu:nth-child(5){
	grid-area: five;
}
.menu:nth-child(6){
	grid-area: six;
}
.menu:nth-child(7){
	grid-area: seven;
}
.menu:nth-child(8){
	grid-area: eight;
}
.menu:nth-child(9){
	grid-area: nine;
}
.menu:nth-child(10){
	grid-area: ten;
}
.menu:nth-child(11){
	grid-area: eleven;
}
.menu:nth-child(12){
	grid-area: twelve;
}
/* Making the images the same size in the grid*/
.menu-image{
	width:  245px;
    height: 245px;
    object-fit: cover;
}
/* Centering h4 in the container to center it in the banner as well*/
h4{
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Section header for feedback form */
.section-divider{
	background-color: #74B3CE;
	padding: 35px;
}
/* aliging the text to the center and making the font size bigger so it looks visually appealing */
.feedback{
	text-align: center;
}
h3.feedback{
	font-size: 2.5rem;
	padding-bottom: 10px;
}
/* Changing and ajdusting form content and putting it in a colunm*/
.form{
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}
/* name title for the contact form and adjusting the size */
.name{
	color: #74B3CE;
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
}
/* First and last name form and adjusting the width and heght of the form*/
.fl-name{
	width: 100%;
	height: 33px;
	border: 3px solid #7AB7B4;
}
/* aliging the text box with the other form feilds */
textarea#text{
	width: 100%;
	height: 100px;
	resize: none;
	margin-top: 10px;
	border: 3px solid #7AB7B4;
}
/* making the button match the contact form colors and to match the theme of Oasis scoops */
.button{
	border: none;
	color: #D7C0D8;
	font-size: 2rem;
	width: 229px;
	height: 75px;
	border-radius: 18px;
	background-color: #7AB7B4;
	margin-bottom: 45px;
	margin-top: 25px;
}
/* adding an animation property to scale up when the user is hovering over the button */
.button:hover{
	animation-name: submit;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
  }
  @keyframes submit{
	50% {transform: scale(1.2);}
  } 
/* ------------------------------------- 
			Tablet Styles
----------------------------------------*/
/*-----------------------
	Tablet styles - home
 ------------------------*/
 /* Setting a media queiry for the tablet styles */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* adjusting the size of the logo to match the desktop mockup */
	.logo{
		width: 50%;
		margin-left: 250px;
		margin-bottom: 50px;
		visibility: visible;
	}
	.header{
		height: 350px;
		margin-bottom: 750px;
	}
	/* centering the menu to match the mockup  and to have it displayed horizontally on the page*/
	a{
		display: inline;
		padding-left: 125px;
		position: relative;
		bottom: 325px;
	}	
	.navigation{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: nowrap;
		position: relative;
		bottom: 400px;
		right: 60px;
	}
	/* setting the opacity to match the mockup and setting the height to prevent it from overlapping other elements*/
	img.tropical-image{
		width: 100%;
    	height: 708px;
    	object-fit: cover;
	}
	.tropical-image{
		position: absolute;
		top: 450px;
		opacity: 0.6;
	}
	/* sizing the h1, text and button so they match the provided mockup to make it visually appealing*/
	.home-h1{
		font-size: 7rem;
		padding-left: 125px;
		margin-left: 45px;
		position: absolute;
		top: 500px;
	}
	.welcometext{
		font-size: 2.2rem;
		padding-right: 35px;
		position: absolute;
		top: 650px;
	}
	/* styling the home button to be different from the mobile styles  */
	.O-button{
		font-size: 2rem;
		margin-left: 160px;
		padding-right: 55px;
		padding-left: 55px;
		padding-bottom: 65px;
	}
	/* adding a bigger bounce so it goes higher than the mobile animation */
	@keyframes bounce{
		0%   { transform: translateY(0); }
		50%  { transform: translateY(-150px); }
		100% { transform: translateY(0); }
	}
	/* adjusting the padding left and right to match the provided mockup and so it is inline with the images*/
	.ice-cream, .little-boy{
		padding-left: 65px;
	}
	.intro-text{
		padding-left: 55px;
		padding-right: 55px;
	}
	/* using a grid to match the provided mockup instead of keeping it vertical as in the mobile mockup*/
	.banner{
		display: flex;
	}
	/* Using the civilian class and quote class to have them line up with each other (horizontally) */
	.civilian{
		margin-top: 50px;
	}
	.quote{
		padding-top: 100px;
		padding-right: 40px;
		position: relative;
		top: 10px;
	}
	/* Setting the height of the banner for the content to be able to fit inside of it */
	.banner{
		height: 400px;
	}
	img.civilian{
		transform: scale(0.8);
	}
	/* adjusting the picture and text so it is in the lined up in the center of the page */
	.neighbourhood, .local-text{
		padding-left: 100px;
		padding-right: 118px;
	}
	/* adjusting the social media icons to be on to the bottom left hand side of the page */
	.footer{
		display: flex;
		justify-content: flex-start;
	}
	.logo-footer{
		padding-right: 50px;
	}
	.logo-footer:nth-child(1){
		padding-left: 30px;
	}
/*----------------------------
	Tablet styles - about us
 ----------------------------*/
 /* Header section and making it match the mockup*/
.menu-about-h1{
	font-size: 6rem;
	position: absolute;
	top: 650px;
	right: 120px;
	left: 100px;
	z-index: 1;
}
 /* Making a grid for our team to be responsive and to be visually appealing*/
 .our-team{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
		"one two"
		"three four"
		"five six"
		"seven eight";
 }
 .team:nth-child(1){
	 grid-area: one;
 }
 .team:nth-child(2){
	grid-area: two;
}
.team:nth-child(3){
	grid-area: three;
}
.team:nth-child(4){
	grid-area: four;
}
.team:nth-child(5){
	grid-area: five;
}
.team:nth-child(6){
	grid-area: six;
}
.team:nth-child(7){
	grid-area: seven;
}
.team:nth-child(8){
	grid-area: eight;
}
/* adjusting the heights of the image so they line up with the other images */
.owner{
	width: auto;
	height: auto;
	object-fit: cover;
}
.employee{
	width: auto;
	height: auto;
	object-fit: cover;
}
/* adjusting the size of the content inside the banner to match the mockup*/
.keep-up{
	font-size: 3rem;
	text-align: center;
}
/* adjusting the size of the button and it can be more user friendly and easy to read */
.subscribe{
	margin-top: 25px;
	margin-left: 125px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 55px;
	padding-right: 55px;
	font-size: 30px;
}
/* making the two images the same size and making the square */
.icecream-nuts{
	width: 650px;
	height: 650px;
	object-fit: cover;
	padding-left: 100px;
}
/* making the text the same length as the images that are above them */
.image-text{
	padding-left: 100px;
	padding-right: 130px;
}
/* adding padding to the bottom of the container so it is not touching the footer and their is breathing space */
.newsletter-sample{
	padding-bottom: 15px;
}
/*----------------------------
	Tablet styles - Menu
 ----------------------------*/
/* menu images and scaling them to match their container */
.menu-image{
	width: 100%;
	height: 400px;
    object-fit: cover;
}
/* Setting a margin so that the images are not touching each other */
.menu{
	margin-right: 10px;
	margin-left: 18px;
	padding-bottom: 15px;
}
/* bottom form to match the mockup and making each feild line up with each other*/
.name{
	padding-top: 15px;
	padding-bottom: 10px;
}
textarea#text{
	width: 99%;
	margin-top: 25px;
}
.button{
	margin-top: 20px;
	padding-right: 50px;
	padding-left: 40px;
}
/* Setting the font size of banner text */
h3.feedback{
	font-size: 3.5rem;
	padding-bottom: 20px;
}
/* adding spaccing between the forms */
.feedback-form{
	margin-bottom: 30px;
	margin-top: 10px;
}
}
/* --------------------------------------------
				Desktop styles
/* ----------------------------------------------*/ 
/* ------------------------
	Desktop styles - home
---------------------------*/
@media screen and (min-width: 1025px) and (max-width: 2000px){
	/* making logo 1 hidden and logo 2 visible */
	.logo{
		visibility: hidden;
		display: flex;
		display: none;
	}
	.logo-2{
		max-width: 100%;
		height: auto;
		visibility: visible;
	}
	.header{
		height: 225px;
		margin-bottom: 750px;
		display: flex;
		justify-content: flex-start;
	}
	/* adding "Oasis Scoops" in the header to tell users this is the Oasis Scoops website */
	.Oasis-scoops-header{
		visibility: visible;
		color: black;
		z-index: 1;
		text-align: center;
		margin-top: 60px;
		width: 80%;
	}
	.navigation{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: nowrap;
		position: relative;
		bottom: 730px;
		right: 40px;
	}
	/* making the bounce smaller for the desktop version to avoid the button overlapping the words*/
	@keyframes bounce{
		0%   { transform: translateY(0); }
		50%  { transform: translateY(-30px); }
		100% { transform: translateY(0); }
	  }
	/* moving the tropical image up so it sits below the navigation */
	img.tropical-image{
		width: 100%;
    	height: 630px;
    	object-fit: cover;
	}
	.tropical-image{
		width:  2796px;
   		height: 600px;
    	object-fit: cover;
		position: relative;
		bottom: 730px;
		opacity: .6;
	}
	/* Setting the text so it is ontop of the image and easy to read by users*/
	.home-h1{
		font-size: 6rem;
		padding-left: 25px;
	}
	.intro-text-button{
		position: relative;
		bottom: 1350px;
		left: 150px;
	}
	p.welcometext{
		padding-top: 10px;
		padding-left: 75px;
	}
	/* Setting the width and height for the images to match the mockup and that they are the same size */
	.ice-cream, .little-boy{
		width:  710px;
   		height: 287px;
    	object-fit: cover;
	}
	/* making the grid be inbetween the header image and the banner */
	.intro{
		position: relative;
		bottom: 50px;
	}
	/* Making a grid for the home of the little boy and ice cream so it matches the provided mockup*/
	.intro{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 
			"three two"
			"four one";
	}
	.sccop-boy:nth-child(1){
		grid-area: one;
	}
	.sccop-boy:nth-child(2){
		grid-area: two;
	}
	.sccop-boy:nth-child(3){
		grid-area: three;
	}
	.sccop-boy:nth-child(4){
		grid-area: four;
	}
	/* putting the grid in the middle of the page and increasing the line height to fill up the space */
	.intro{
		max-width: 80%;
		padding-left: 120px;
		padding-bottom: 60px;
	}
	.intro-text{
		line-height: 25px;
	}
	/* making adjustments to the content inside the banner so that it matches the mockup */
	.banner{
		max-height: 375px;
		display: flex;
		padding-top: 50px;
		padding-left: 75px;
	}
	.quote{
		padding-top: 225px;
		margin-right: 175px;
		width: 85%;
	}
	img.civilian{
		transform: scale(0.8);
	}
	/* makng a grid for the local section to be able to read better on a desktop*/
	.local{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas: 
			"one two";
	}
	.neighbour-text-image:nth-child(1){
		grid-area: one;
	}
	.neighbour-text-image:nth-child(2){
		grid-area: two;
	}
	/* adjusting the contents inside the grid to match the mockup */
	.h2-local{
		display: flex;
		padding-left: 65px;
		padding-top: 45px;
	}
	/* makng the image into a rectangle and it can look visually appealing */
	.neighbourhood{
		width:  826px;
   		height: 460px;
    	object-fit: cover;
		padding-top: 30px;
		position: relative;
		right: 80px;
		top: 120px;
	}
	.local-text{
		font-size: 1.5rem;
		position: relative;
		bottom: 350px;
		line-height: 1.6;
	}
	/* putting the social media in the lower left hand corner of the webpage */
	.footer{
		display: flex;
		justify-content: flex-start;
	}
	.logo-footer{
		padding-right: 50px;
	}
	.logo-footer:nth-child(1){
		padding-left: 30px;
	}
	/* ------------------------
		Desktop styles - about
	---------------------------*/
	.menu-about-h1{
		position: absolute;
		top: 600px;
		left: 750px;
		color: white;
		z-index: 1;
	}
	/* making a grid to display as three columns and one row so it is easier to read on the desktop version */
	.who-what-where{
		display: grid;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas: 
			"one two three";
	}
	.three-w:nth-child(1){
		grid-area: one;
	}
	.three-w:nth-child(2){
		grid-area: two;
	}
	.three-w:nth-child(3){
		grid-area: three;
	}
	.three-w{
		padding-right: 50px;
		line-height: 30px;
	}
	.who-what-where{
		position: relative;
		bottom: 110px;
		left: 100px;
		max-width: 85%;
	}
	/* Making a grid for our team and to match the mockup and it is easier to view on the desktop*/
	.our-team{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 
		"one two three four"
		"five six seven eight"
	}
	.team:nth-child(1){
		grid-area: one;
	}
	.team:nth-child(2){
		grid-area: two;
	}
	.team:nth-child(3){
		grid-area: three;
	}
	.team:nth-child(4){
		grid-area: four;
	}
	.team:nth-child(5){
		grid-area: five;
	}
	.team:nth-child(6){
		grid-area: six;
	}
	.team:nth-child(7){
		grid-area: seven;
	}
	.team:nth-child(8){
		grid-area: eight;
	}
	/* adjusting the margins so its not right up against the sides */
	.our-team{
		margin-left: 10px;
		margin-right: 10px;
	}
	.team{
		margin-top: 20px;
		margin-bottom: 15px;
	}
	/* making the picture of one of the ceo line up with the other pictures */
	.ceo{
		width: auto;
   		height: auto;
    	object-fit: cover;
	}
	/* banner section between meeting our team and the bottom section and using flex to display it in a row*/
	.newsletter{
		display: flex;
		flex-wrap: wrap;
		padding-left: 170px;
		margin-bottom: 50px;
		margin-top: 50px;
	}
	/* changing the size of the font in the banner to make it easier to read*/
	.keep-up{
		font-size: 2.75rem;
		padding-left: 75px;
		padding-top: 20px;
	}
	/* Subscribe button and making it easier to read */
	button.subscribe{
		font-size: 2rem;
		padding-right: 50px;
		padding-left: 50px;
		margin-bottom: 10px;
	}	
	/* making the two images the same size */
	.icecream-nuts{
		width: 700px;
   		height: 298px;
    	object-fit: cover;
	}
	/* creating a grid to re-create the mockup */
	.newsletter-sample{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 
		"one two"
		"four three"
	}
	.two-by-two:nth-child(1){
		grid-area: one;
	}
	.two-by-two:nth-child(2){
		grid-area: two;
	}
	.two-by-two:nth-child(3){
		grid-area: three;
	}
	.two-by-two:nth-child(4){
		grid-area: four;
	}
	.footer-text{
		padding-top: 20px;
		font-size: 1.75rem;
	}
	/* Setting a max-width and adding spacing on the top and bottom */
	.newsletter-sample{
		margin-top: 25px;
		margin-bottom: 25px;
		margin-right: 100px;
		max-width: 80%;
		padding-left: 120px;
		padding-bottom: 60px;
	}
	/* ------------------------
		Desktop styles - menu
	---------------------------*/
	/* Creating a 4x3 grid for all twelve menu items  */
	.menu-items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: 
		"one two three four"
		"five six seven eight"
		"nine ten eleven twelve"	
	}
	.menu:nth-child(1){
		grid-area: one;
	}
	.menu:nth-child(1){
		grid-area: one;
	}
	.menu:nth-child(2){
		grid-area: two;
	}
	.menu:nth-child(3){
		grid-area: three;
	}
	.menu:nth-child(4){
		grid-area: four;
	}
	.menu:nth-child(5){
		grid-area: five;
	}
	.menu:nth-child(6){
		grid-area: six;
	}
	.menu:nth-child(7){
		grid-area: seven;
	}
	.menu:nth-child(8){
		grid-area: eight;
	}
	.menu:nth-child(9){
		grid-area: nine;
	}
	.menu:nth-child(10){
		grid-area: ten;
	}
	.menu:nth-child(11){
		grid-area: eleven;
	}
	.menu:nth-child(12){
		grid-area: twelve;
	}
	/* adding spacing inbetween the menu items so they are not touching each other */
	.menu-items{
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 15px;
		position: relative;
		bottom: 75px;
	}
	/* makng the menu images the same size */
	.menu-image{
		width:  479px;
   		height: 469px;
    	object-fit: cover;
	}
	/* adjusting the lengths of the feilds so they match up with each other */
	.feedback-form{
		max-width: 65%;
		padding-left: 350px;
		padding-right: 250px;
		margin-bottom: 25px;
		margin-top: 10px
	}
}


	
