/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------
        Custom styles
-------------------------------------------*/
/* -----------------------------
	Mobile Styles - Home
-------------------------------*/
.header{
	background-color: #74B3CE;
}
.logo{
	max-width: 100%;
	height: auto;
}
.logo-2{
	max-width: 100%;
	height: auto;
	visibility: hidden;
}
a{
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 3rem;
	padding-bottom: 30px;
}
.tropical-image{
	max-width: 100%;
	height: auto;
}
button{
	background-color: #74B3CE;
	border: none;
	padding: 20px;
	border-radius: 72px;
	color: #ADEBAD;
	font-size: 1.3rem;
	position: relative;
	top: 300px;
	left: 120px;
}
.ice-cream, .little-boy{
	width: 85%;
	height: auto;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 35px;
}
.intro-text{
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 10px;
}
.banner{
	background-color: #74B3CE;
}
.civilian{
	max-width: 50%;
	height: auto;
	padding-top: 50px;
	padding-left: 100px;
	padding-bottom: 10px;
}
.quote{
	color: white;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}
.neighbourhood{
	width: 75%;
	height: auto;
	padding-top: 15px;
	padding-left: 55px;
	padding-bottom: 10px;
}
.footer{
	background-color: #0B7A75;
	padding-top: 35px;
	padding-bottom: 35px;
}
.f-logo{
	padding-left: 50px;
	display: flex;
	flex-direction: row;
}
	
