/* ---------------------
        CSS RESET
-------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------------------------
        CUSTOM STYLES
------------------------------------------*/
/* Fonts */
html{
    font-family: 'Montserrat', sans-serif;
}
/* Heading and paragraphs */
h1{
    font-weight: bold;
}
p{
    font-weight: lighter;
}
/* Styles */
@media screen and (min-width: 375px){
.main-background{
    background-color: #f7f7ff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.dashlogo{
    width: 20%;
}
.boss{
    font-size: 4rem;
    padding-bottom: 15px;
    word-spacing: 25px;
    text-align: left;
    line-height: 70pt;
}
.start{
    line-height: 20pt;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.scooter-image{
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}
/* apply form */
.apply-now{
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-left: 75px;
    margin-right: 75px;
}
.input-feilds{
    padding-top: 5px;
    width: 100%;
    border: none;
}
input#text-feild{
    width: 85%;
    border: none;
    background-color: #F4F4F5;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.line-break{
    padding-bottom: 25px;
}
div.input-feilds{
    padding-bottom: 10px;
}
.apply{
    padding: 15px;
    font-size: 3rem;
    display: flex;
    padding-left: 25px;
}
.enter{
    display: flex;
    padding-left: 25px;
}
.agree{
    display: flex;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;  
}
input#checkbox{
    transform: scale(1.25);
}
.applied{
    padding-top: 15px;
}
.application{
    padding-bottom: 10px;
}
.button-1{
    background-color: #57eeab;
    border: none;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    font-weight: 500;
}
.orange-text{
    color: #ff8480;
}
.apply-now{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8);
}
/* footer */
.footer{
    background-color: #fffd8c;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-form{
    text-align: center;
    padding-top: 15px;
}
.hours{
    display: flex;
    position: relative;
    left: 100px;
    top: 30px;
}
.city{
    display: flex;
    position: relative;
    left: 160px;
    bottom: 3px;
}
input#hours{
    width: 7%;
    border: none;
    background-color: #F4F4F5;
    border-radius: 5px;
    padding-left: 5px;
    padding: 8px;
}
input#city{
    width: 45%;
    border: none;
    background-color: #F4F4F5;
    border-radius: 5px;
    padding-left: 5px;
    padding: 8px;
}
.button-2{
    background-color: #ff8480;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
.footer-logo{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
}
/* ------------------------------------------
            TABLET STYLES
--------------------------------------------*/
@media screen and (min-width: 768px){
    .dashlogo{
        width: 15%;
    }
    .scooter-image{
        width: 65%;
        padding-bottom: 25px;
    }
    /* form */
    .apply{
        font-size: 2rem;
    }
    .enter{
        font-size: 25px;
    }
    input#text-feild{
        width: 90%;
    }
    .button-1{
        padding-bottom: 10px;
        padding-left: 130px;
        padding-right: 130px;
    }
    a{
        padding-top: 15px;
        padding-left: 5px;
    }
    .application{
        display: flex;
        padding-left: 75px;
    }
    /* footer form */
    .earnings{
        padding-left: 80px;
    }
    .contact-form{
        display: flex;
        justify-content: space-evenly;
    }
    input#hours{
        width: 50%;
        position: relative;
        bottom: 30px;
        right: 78px;
    }
    input#city{
        width: 100%;
        position: relative;
        top: 3px;
        right: 245px;
    }
    .button-2{
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        right: 100px;
    }
    .footer-logo{
        display: flex;
        align-content: space-evenly;
        padding-left: 200px;
        padding-right: 200px;
    }
}
@media screen and (max-width: 1920px){
    .dashlogo{
        width: 8%;
    }
    .scooter-image{
        width: 45%;
    }
    .boss-scooter-form{
        display: flex;
        justify-content: space-between;
    }
    /* bottom contact form */
    .contact-form{
        display: flex;
        justify-content: flex-start;
    }
    input#hours{
        width: 50%;
        position: relative;
        bottom: 30px;
        right: 23px;
    }
    input#city{
        width: 100%;
        position: relative;
        top: 3px;
        right: 140px;
    }
    .button-2{
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        left: 25px;
    } 
    .footer-logo{
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 35px;
    }
}
