/* ---------------------
        CSS RESET
-------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------------------------
        CUSTOM STYLES
------------------------------------------*/
/* Fonts set for the whole html page*/
html{
    font-family: 'Montserrat', sans-serif;
}
/* Heading and paragraphs fonts */
h1{
    font-weight: bold;
}
p{
    font-weight: lighter;
}
/*-------------------------
        Mobile Styles
 ---------------------------*/
@media screen and (min-width: 375px){
    /* main background colour and adding padding */
.main-background{
    background-color: #f7f7ff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
/* Sizing the dash logo */
.dashlogo{
    width: 20%;
    padding-left: 70px;
}
/* Setting the font size for the introduction */
.boss{
    font-size: 3rem;
    word-spacing: 2px;
    text-align: left;
    line-height: 50pt;
}
/* setting the padding for the text to line up with the form */
.own-boss{
    padding-left: 75px;
    padding-right: 70px;
}
/* adjusting line height */
.start{
    line-height: 20pt;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
/* adjusting the size of the scooter image */
.scooter-image{
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}
/* apply form */
.apply-now{
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-left: 75px;
    margin-right: 75px;
}
.sentence-1{
    text-align: left;
    padding-left: 23px;
}
.sentence-2{
    visibility: hidden;
}
.input-feilds{
    padding-top: 5px;
    width: 100%;
    border: none;
}
/* adjusting the form to look like the provided mockup */
input#text-feild{
    width: 85%;
    border: none;
    background-color: #F4F4F5;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: grey;
}
/* input feilds for form and adjusting size of them */
div.input-feilds{
    padding-bottom: 10px;
}
/* adding space inbetween each text feild */
.feilds{
    margin-bottom: 10px;
}
.apply{
    padding: 15px;
    font-size: 3rem;
    display: flex;
    padding-left: 25px;
}
.enter{
    display: flex;
    padding-left: 25px;
}
.agree{
    display: flex;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;  
}
/* adjusting the size of the checkbox */
input#checkbox{
    transform: scale(1.25);
}
.applied{
    padding-top: 15px;
}
.application{
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 25px;
}
/* making the button green and making the text centered */
.button-1{
    background-color: #57eeab;
    border: none;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    font-weight: 500;
}
.application-status{
    color: #ff8480;
    text-decoration: none;
}
/* adding a drop shadow on the apply now form */
.apply-now{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8);
}
/* footer */
.footer{
    background-color: #fffd8c;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}
h3{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}
.earnings{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.hours-calc{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 80px;
    padding-right: 80px;
}
 .hours{
    padding-right: 10px;
}
/* adjusting the length of the input feilds */
input#hours{
    width: 75px;
    border: none;
    background-color: #F4F4F5;
    border-radius: 5px;
    padding-left: 5px;
    padding: 8px;
    font-size: 13px;
    color: grey;
}
input#city{
    width: 237px;
    border: none;
    background-color: #F4F4F5;
    border-radius: 5px;
    padding-left: 5px;
    padding: 8px;
    font-size: 13px;
    color: grey;
}
/* adjusting the length and size of the bottom button */
.button-2{
    background-color: #ff8480;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 10px;
    padding-left: 110px;
    padding-right: 110px;
}
/* ajdusting the social media links  */
.footer-logo{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 75px;
    padding-right: 75px;
}
.facebook-logo{
    border-radius: 20px;
}
.twitter{
    fill: #ff8480;
    fill-opacity: 0;  
}
}
/* ------------------------------------------
            TABLET STYLES
--------------------------------------------*/
@media screen and (min-width: 768px){
    /* adjusting the size of the dash logo */
    .dashlogo{
        width: 15%;
        padding-left: 70px;
    }
    .own-boss{
        padding-left: 75px;
        padding-right: 60px;
    }
    .scooter-image{
        width: 60%;
        padding-bottom: 25px;
    }
    /* apply now form and setting the font sizes */
    .started{
        display: none;
    }
    .apply{
        font-size: 2rem;
    }
    .enter{
        font-size: 25px;
    }
    /* adjusting the input feild for tablet styles */
    input#text-feild{
        width: 90%;
    }
    /* adjusting the button so it fits inside the form */
    .button-1{
        padding-bottom: 10px;
        width: 90%;
    }
    /* footer form */
    .earnings{
        padding-left: 80px;
    }
    .contact-form{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .button-2{
        padding-left: 30px;
        padding-right: 30px;
    }  
    .calculate-button{
        padding-left: 5px;
    }
    /* spacing evenly the social media icons */
    .footer-logo{
        display: flex;
        align-content: space-evenly;
        padding-left: 200px;
        padding-right: 200px;
    }
    .facebook-logo{
        border-radius: 20px;
    }
}
/*------------------------
    Desktop styles
 ------------------------*/
@media screen and (min-width: 850px){
    /* adjusting the padding of the logo and width */
    .dashlogo{
        width: 5%;
        padding-left: 60px;
    }
    div.own-boss{
        padding-left: 60px;
        width: 100%;
    }
    /* sizing the scooter image */
    .scooter-image{
        width: 65%;
        position: relative;
        right: 400px;
    }
    /* making the text, scooter image and form be in a line (horizontally) */
    .boss-scooter-form{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    /* apply now section */
     section.apply-now{
        width: 25%;
        position: absolute;
        right: 10px;
    } 
    .own-boss{
        padding-top: 75px;
    }
    .sentence-2{
        visibility: visible;
        text-align: left;
        padding-left: 23px;
    }
    .sentence-1{
        visibility: hidden;
    }
    /* yo add padding inbetween the second sentence */
    form.form{
        padding-top: 15px;
    } 
    /* adjusting the text feilds so they are inside the white area */
    .form{
        padding-right: 20px;
        padding-left: 15px;
    }
    input#text-feild{
        width: 100%;
    }
    .button-1{
        width: 100%;
    }
    /* pushing the social media icons to the right side */
    .footer-logo{
        display: flex;
        justify-content: space-evenly;
        padding-right: 600px;
        padding-left: 700px;
        position: relative;
        bottom: 45px;
        left: 600px;
    }
    .facebook-logo{
        border-radius: 0;
        display: flex;
        order: 3;
    }
    .linkedin-logo{
        display: flex;
        order: 4;
    }
}
